.dropdown {
  width: 350px;
}

.align {
  margin-left: 10%;
}

.alignbox {
  margin-left: 1%;
}

.aligntext {
  margin-left: 1.5%;
  color: black;
  font-weight: bold;
  font-size: 18px;
  opacity: 0.75;
}

.alignlegend {
  margin-left: 5%;
  font-weight: bold;
  color: black;
}

/* .background {
  background-image: "lightbluebackground.jpg";
} */

.pagetwofonthtag {
  opacity: 0.75;
  color: navy;
}

.pagetwofontptag {
  opacity: 0.75;
  color: black;
  font-weight: bold;
}
